<h1>{{stock.companyName}}({{stock.symbol}})</h1>

{{posted_stuff}}<br/>
    
    <br/>
    <strong>Latest Price:</strong>${{stock.latestPrice}}<br/>
    <strong>Previous Close:</strong>${{stock.previousClose}}<br/>
    <strong>Percentage Change:</strong>{{stock.changePercent}}%<br/>
    <strong>Market Capitalization:</strong>${{stock.marketCap}}<br/>
    <strong>TYD change:</strong>{{stock.ytdChange}}%<br/>

    <strong>Week 52 High:</strong>{{stock.week52High}}%<br/>
    <strong>Week 52 Low:</strong>{{stock.week52Low}}%<br/>

  <!-- 
{{#each stock}}
    {{@key}}|{{this}}<br/>
{{/each}}
 -->